:root {
    --dgreen: rgb(5, 74, 41);
    --mgreen: rgb(19, 117, 71);
    --lgreen: rgb(178, 239, 155);
    --lbrown: rgb(245, 212, 128);
    --mbrown: rgb(175, 145, 100);
    --dbrown: rgb(156, 102, 21);
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: Bold;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("mountains.png");
    background-position: 50% 20%;
    filter: blur(2px);
    z-index: -1;
}

.topnav {
    background-color: white;
    background-color: 5;
    display: flex;
    text-align: center; 
    padding: 4vw; 
    font-size: 3vw;
    color: black;
    gap: 10vw;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    color: white;
    font-size: 4vw;
    margin: 0;
    padding: 0;
    text-shadow: 
        -3px -3px black,
       3px -3px black,
        -3px  3px black,
         3px  3px black,
        -3px  0px black,
         3px  0px black,
         0px  3px black,
         0px -3px black;
}

.navbar {
    text-align: center;
    font-size: 3vw;
    color: white;
    padding: 0;
    margin: 0;
    text-shadow: 
        -1px -1px black,
         1px -1px black,
        -1px  1px black,
         1px  1px black;
}

.permission {
    display: flex;
    justify-content: center;
    align-items: center;
}

.permission #button {
    color: white;
    background: linear-gradient(to right, #bc4df2, #4df2f2);
    padding: 3vw 4vw;
    border-radius: 2vw;
    border: 1vw solid black;
    cursor: pointer;
    font-size: 4vw;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: Bold;
    text-shadow: 
        -1px -1px black,
         1px -1px black,
        -1px  1px black,
         1px  1px black;
}

.coordinates {
    color: white;
    display: flex;
    font-size: 2vw;
    gap: 8vw;
    justify-content: center;
    align-items: center;
    text-shadow: 
        -1px -1px black,
         1px -1px black,
        -1px  1px black,
         1px  1px black;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas #canvas {
    border: 5px solid black;
    border-radius: 50%;
    background-image: url("map.jpg");
    background-position: 30% 30%;
}
