<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Locator HTTP test</title>
    <link rel="stylesheet" href="static/style.css">

</head>
    <body>

        <p> Username: </p>
        <input id="username" type="text" >
        <p> Password : </p>
        <input id="password" type="text" > 
        <br>
        <button id="create_account_bttn" > Create account </button>

    <div id="info">
    </div>

    </body>
    <script src="static/account_creator.js"></script>
</html>

