<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Locator</title>
    <link rel="stylesheet" href="static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="background"></div>

    <div class="topnav">
        <a href="/add_friends">Add friends</a>
        <a>Manage friends</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="header">
        <h1>FRIEND LOCATOR</h1>
    </div>

    <div class="infotext">
        <p id="infotext">Enter a username of a freind</p>
    </div>

    <div class="test">
        <p id="test">test</p>
    </div>

    <div class="textbox">
            <input id="input" type="text" placeholder="Username Here"></input>
    </div>

    <div class="permission">
        <button id="button" data-state="not finding" onclick='handleButtonClick();'> Start Finding Friend</button>
    </div>

    <div class="coordinates">
        <h3 id="latitude">Latitude: </h3>
        <h3 id="longitude">Longitude: </h3>
        <h3 id="accuracy">Accuracy: </h3>
    </div>

    <div class="canvas">
        <canvas id="canvas"></canvas>
    </div>


    <script src="static/javascript.js"></script>
</body>
</html>
