<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Locator</title>
    <link rel="stylesheet" href="static/style.css">

</head>

    <body style="height: 80vh; width: 100vw; display: flex; align-items: center"> 
        <div class="form_container"> 
            <h1> Login to Friend Locator </h1>
            <p> Username </p>
            <input id="username" type="text">
            <p> Password </p>
            <input id="password" type="text"> 
            <br>
            <button style="margin-top: 3vh" id="login_btn"> Login </button>
            <p> Don't have an account?
            <a href="/create-account">
                 create one
            </a>
            .
            </p>
        <div id="info">
        </div>
    </body>
    <script src="static/login.js"></script>
</html>


